<div class="d-flex align-items-center justify-content-between px-4 py-2 bg-sitop-nav shadow">

  <!-- Logo -->
  <a class="layout-topbar-logo flex items-center" routerLink="/">
    <img
      src="assets/sitop_logo_2024_blanco.svg"
      alt="Sitop Logo"
      class="h-12 object-contain"
      height="48"
    />
  </a>

  <!-- Menú Toggle (icono hamburguesa) -->
  <div class="d-flex justify-content-between items-center">
    

    <!-- Perfil + Opciones -->
    <div class="d-flex items-center text-white" >

      <button
        class="btn d-flex items-center gap-2 p-2 rounded-full bg-sitop-nav text-white"
        aria-label="Opciones de usuario"
      >
        <i class="bi bi-list text-xl" style=" width: 16px; height: 16px;"></i>
        <span class="text-xs text-gray-300">Menu</span>
      </button>

      <button
        class="btn d-flex items-center gap-2 p-2 rounded-full bg-sitop-nav text-white"
        aria-label="Opciones de usuario"
      >
        <i class="bi bi-person-circle text-xl" style=" width: 16px; height: 16px;"></i>
        <span class="text-xs text-gray-300">id.usuario</span>
      </button>

    </div>
  </div>
</div>


<div class="d-flex">
<!-- Sidebar -->
 <shared-sidebar></shared-sidebar>

<!-- Homepage -->



</div>