<ul>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <span>RUC</span>
      <button class="btn btn-primary">Ver</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <span>Permiso de funcionamiento</span>
      <button class="btn btn-primary">Ver</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <span>Certificado de Defensa Civil</span>
      <button class="btn btn-primary">Ver</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <span>Certificado de Inspección Técnica Marítima</span>
      <button class="btn btn-primary">Ver</button>
    </div>
  </li>
  <!-- Agregar más gifs según sea necesario -->
</ul>